{% extends 'base.html' %}

{% block title %}{{ object.name}}{% endblock title %}

{% block content %}
    <h1>{{ object.name }}</h1>

    <img src="{{ object.get_image_url }}" alt="{{ object.name }}" class="img-fluid">
    {% if object.discount %}
         <p><del>Original price: {{object.price }}€</del></p>
    <p><strong>Discounted price: {{ object.get_discount_price }}€</strong></p>
    <p style="color: red;">Discount: {{ object.get_discount_percentage }}%</p>
    {% else%}
        <p>Price: {{ object.price }}€</p>
    {% endif %}
    <p>Description: {{ object.description }}</p>
    {% if user.is_store_manager and is_seller %}
        <p>Stock: {{ object.stock }}</p>
    {% endif %}

    <div class="d-flex gap-2 align-items-center">
        {% if not user.is_store_manager %}
            <form method="post" action="{% url 'add_to_cart' object.id %}">
                {% csrf_token %}
                <button class="btn btn-primary" type="submit">Add to Cart</button>
            </form>
            <form method="post" action="{% url 'add_to_wishlist' product.id %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">Add to Wishlist</button>
            </form>
        {% endif %}
    </div>
    <a href="{% url 'store_dashboard' store.owner.id %}" class="btn btn-outline-primary">Visit {{ store.owner.username }}'s Store</a>

    <a href="{{ back_url }}" class="btn btn-secondary mt-2">Back</a>

    {% if not user.is_authenticated %}
        <p class="mt-2">Please <a href="{% url 'login' %}">log in</a> to add to wishlist.</p>
    {% endif %}


{% endblock %}