{% extends "base.html" %}


{% block title %}Profile{% endblock title %}
{% block content %}
    {% if user.is_authenticated %}
    <h2>Profile</h2>
    <p>Username: {{ user.username }}</p>
    <p>Email: {{ user.email }}</p>
    {% if user.is_store_manager and user.store  %}
        <p>My Store: <a href="{% url 'store_dashboard' user.id %}">{{ user.store.name }}</a> </p>
    {% else %}
    <p>You have no store yet.<a href="{% url 'create_store' %}">Create one now</a></p>
    {% endif %}
    <a href="{% url 'password_change' %}" class="btn btn-warning">Change Password</a>
    {% endif %}
{% endblock content %}
