{% extends 'base.html' %}

{% block title %}Page of Return Requests{% endblock %}

{% block content %}
    <h2>Return Requests</h2>
    {% for req in pending_return_requests %}
      <div class="card mb-3 p-3">
        <p><strong>Item:</strong> {{ req.order_item.product.name }}</p>
        <p><strong>Buyer:</strong> {{ req.order_item.order.buyer.username }}</p>
        <p><strong>Reason:</strong> {{ req.reason }}</p>
        <strong>Request Time:</strong> {{ req.created_at|date:"Y-m-d H:i" }} <br>
        <p><strong>Status:</strong>
          {% if req.approved == True %}
              <span class="text-success">Approved</span>
          {% elif req.approved == False %}
              <span class="text-danger">Rejected</span>
          {% else %}
              <span class="text-warning">Pending</span>
              <div class="d-flex gap-2 align-items-center">
                  <form method="post" action="{% url 'approve_return_request' req.id %}">
                      {% csrf_token %}
                      <button class="btn btn-success">Approve</button>
                  </form>
                  <form method="post" action="{% url 'reject_return_request' req.id %}">
                      {% csrf_token %}
                      <button class="btn btn-danger">Reject</button>
                  </form>
              </div>
          {% endif %}
        </p>
        <hr>
      </div>
    {% empty %}
      <p>No return requests.</p>
    {% endfor %}
    <a href="{{ back_url }}" class="btn btn-secondary mt-2" >Back</a>
{% endblock %}


