{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block title %}{{ seller.username }}'s Store{% endblock %}

{% block content %}
    <h1>Welcome to {{ seller.username }}'s store</h1>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb" style="list-style: none; padding: 0;">
            {% for category in categories %}
                <li class="breadcrumb-item" style="margin-bottom: 5px;"><a href="{% url 'store_category_products' seller.id category.id %}" style="text-decoration: none; color: black; ">{{ category.name }}</a>
                    {% if is_owner %}
                        <a href="{% url 'edit_store_category' seller.id category.id %}" class="btn btn-sm btn-outline-primary">Edit</a>
                        <a href="{% url 'delete_store_category' seller.id category.id %}"class="btn btn-sm btn-outline-danger">Delete</a>
                    {% endif %}
                </li>
            {% empty %}
                <p>No category in this Store.</p>
            {% endfor %}
        </ol>
    </nav>

    {% if is_owner %}
        <div class="d-flex gap-2 align-items-center" style="margin-bottom: 20px;">
            <a href="{% url 'add_product' seller.id %}" role="button" class="btn btn-primary">+ Add New Product</a>
            <a href="{% url 'add_store_category' seller.id %}" role="button" class="btn btn-primary">+ Add New Store Category</a>
            <a href="{% url 'seller_orders' %}?from=store" class="btn btn-primary" role="button">Show Orders</a>
            <a href="{% url 'seller_return_requests' %}" class="btn btn-primary" role="button">Return Requests</a>

        </div>
    {% endif %}

    <div class="row">
        {% for product in object_list %}
            <div class="col-sm-6 col-md-4">
                <div class="h-100" style="margin-bottom: 10px;">
                    <a href="{% url 'product_detail' product.pk %}?from=store&seller_id={{ product.seller.id }}"><img src="{{ product.get_image_url }}" alt="{{ product.name }}" class="img-fluid" ></a>
                    <div class="caption">
                        <h3>{{ product.name}} </h3>
                        <div class="d-flex gap-2 align-items-center">
                            <a href="{% url 'product_detail' product.pk %}?from=store&seller_id={{ product.seller.id }}" class="btn btn-primary" role="button">Detail</a>
                            {% if not is_store_manager %}
                                <form method="post" action="{% url 'add_to_cart' product.id %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-primary">Add to Cart</button>
                                </form>
                                <form method="post" action="{% url 'add_to_wishlist' product.id %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-primary">Add to Wishlist</button>
                                </form>
                            {% endif %}
                            {% if is_owner %}
                                <a role="button" class="btn btn-primary" href="{% url 'edit_product' product.id %}">Edit</a>
                                <a role="button" class="btn btn-primary" href="{% url 'delete_product' product.id %}">Delete</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% empty %}
            <p>No products in this Store.</p>
        {% endfor %}
    </div>

    <div class="d-flex justify-content-center">
        <nav>
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                    </li>
                {% endif %}

                <li class="page-item disabled">
                    <a class="page-link">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a>
                </li>

                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>

    {% if user.is_authenticated and user.is_store_manager %}
      {% if pending_return_requests %}
        <div class="alert alert-warning">
          You have {{ pending_return_requests.count }} pending return request{{ pending_return_requests.count|pluralize }}.
          <a href="{% url 'seller_return_requests' %}">View now</a>.
        </div>
      {% endif %}
  {% endif %}

{% endblock %}



